orig
*~
\#*\#
.*.sw[a-z]
dot-vim/.VimballRecord
dot-vim/autoload/netrw.vim
dot-vim/autoload/netrwFileHandlers.vim
dot-vim/autoload/netrwSettings.vim
dot-emacs.d/tramp
dot-emacs.d/elpa
dot-emacs.d/eshell
dot-emacs.d/custom.el
dot-emacs.d/recentf
dot-emacs.d/session.*
dot-emacs.d/smex-items
dot-emacs.d/transient
